.iconBanned::before {
    font-family: 'FontAwesome';
    content: '\f05e ';
    color: #c00000;
    font-weight: normal;
}

.iconAllowed::before {
    font-family: 'FontAwesome';
    content: '\f05d ';
    color: #209817;
    font-weight: normal;
}
